#cm-btn-edit-link {
	font-size: 14px;
	right: 0;
	top: 1rem;
	position: absolute;
	margin-right: 2rem;
	color: var(--link-fg);
}
#cm-btn-edit-link:hover {
	color: inherit;
}

@media ( min-width: 768px ) {
	#cm-mm {
		background-image: url("../resources/images/grid-3x3-gap-fill.svg");
		background-size: 30vh 30vh;
		background-repeat: no-repeat;
		background-position: right;
	}
}
